*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    background-color: black;
    height: 80px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
   

}
.hed-logo{
    height: 100%;
}
.CONTAINER{
    height: 100%;
    width: 100%;
    max-width: 1150px;
      display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   

}
.nav-link{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-left: 2rem;
   text-decoration: none;
   color: white;

}
li{
    list-style: none;
}
h1{
    font-size: 2.5REM;
    margin-bottom: 2rem;
}
p{
    font-size: 1.2rem;
}
img{
    height: 100%;
}
.caption{
    font-size: 11px;
 
}
a{
    color: black;
}
.section-1{
    height: 430px;
    background-color: #FFCDD2;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center; 
    padding-top: 4rem;
    padding-bottom: 4rem;
   
}
.sec-container-1{
    display: flex;
    flex-direction: column;
}
.butten-link{
    margin-top: 2rem;
    margin-bottom: 2rem;    
}
.main-butten{
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
    border-radius: 2rem;
    margin-right: 1.5rem;
    color: black;
}
.bg-black{
    background-color: black;
    color: white;
    
}
.section-2{
    height: 430px;
    background-color: #F8F8F8;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center; 
    padding-top: 4rem;
    padding-bottom: 4rem;

}
.CONTAINER-1{
    height: 100%;
    width: 100%;
    max-width: 1150px;
      display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.butten-holder{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.section-2-caption{
    max-width: 640px;
    text-align: center;
}
.section-3{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center; 
    padding-top: 4rem;
    padding-bottom: 4rem;

}
.sec-3-li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.se-3-cap{
    text-align: center;

}
.sec-3-subli{
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}
.section-4{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
.container-4{
       max-width: 1150px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
       padding-top: 2rem;
       
}
.months{
    background-color: #2E77D0;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.plans{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    padding-top: 3rem;
   
   
}
.plan{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
   
}
h3{
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p{  
    font-size: 1rem;
} 
.tick{
    height: 24px;
    width: 24px;
}
.accounts{
    margin-bottom: 1rem;
}
.plan-features{
    list-style: none;
    padding-bottom: 1rem;
   
}
.sec-4b{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 12px;
    padding-top: 1rem;
}
.butten-1{
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: .25rem;
    padding-bottom: 1rem;
    border-radius:1rem ;
    text-decoration: none;
   
}

.sec-5-top{
    display: flex;
    flex-direction: column;
   align-items: center;
   padding-top: 4rem;
   padding-bottom: 2rem;
}
.sec-5-p{
    font-size: 20px;
    font-weight: 400;
}
.section-5{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5rem;
    height: 510px;
    margin-bottom: 5rem;
}
    
.container-sec-5{
    height: 100%;
    width: 100%;
    max-width: 1150px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
    
    
}
.last-sec-expand{
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: .30rem;

}
.expa-butten{
    height: 24px;
    width: 24px;

}
.footer-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-container{
    max-width: 1150px;
    
    
    
}
.last-box{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.f-logo{
    width: 100%;
    height: 100%;
}

.footer-1{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    

    
  }
  .logo-footer-1{

  }
  .logo-footer-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    

  
}
.l-f-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.l-f-1-a{
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
}

.l-f-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.l-f-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between

}
.l-f-4{
     

}
.logo-footer-3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 
}
.logo-footer-4{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;
 
}
.logo-footer-5{
    padding-bottom: 1rem;
   
       
}
.logo-footer-5-A{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    margin-right: 1rem;    
    color:white;

}
.logo-footer-6{
    margin-bottom: 2rem;
    

}
.logo-footer-6-A{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:start;
  

    
}
.logo-footer-6-A a{
    list-style: none;
    text-decoration: none;
    margin-left: 1rem;
    color: white;
}
  
